@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-red {
    width: 6px;
    height: 6px;
    margin-top: -15px;
    border-radius: 14px;
    background-color: red;
}

.dot-white {
    width: 6px;
    height: 6px;
    margin-top: -15px;
    border-radius: 14px;
    background-color: whtie;
}

.dateCellWithDot::before {
    z-index: 0;
    content: '';
    background-color: #FFFBFF;
    width: 6px;
    height: 6px;
    margin-top: 35px;
    border-radius: 14px;
    position: absolute;
}

.dateCellWithNoDot::before {
    z-index: -1;
    content: '';
    background-color: rgb(163 163 163);
    width: 6px;
    height: 6px;
    margin-top: 40px;
    border-radius: 14px;
    position: absolute;
}

.dateCellCustomHover {
    font-style: none;
    text-decoration: none;
    position: relative;
}

.dateCellCustomHover:hover::after {
    z-index: -1;
    background-color: rgb(212 212 216);
    content: '';
    width: 93%;
    height: 93%;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dateCellSelectedBackgroundCustomColor {
    position: relative;
}

.dateCellSelectedBackgroundCustomColor::after {
    z-index: -1;
    background-color: rgb(115 115 115);
    content: '';
    width: 93%;
    height: 93%;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    margin-top: 20rem;
}

.task-input-style {
    position: relative;
}

.task-input-style input {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: #222222;
    border-bottom: 2px solid silver;
}

.task-input-style label {
    color: rgb(168 162 158);
    position: absolute;
    pointer-events: none;
    left: 0%;
    transition: all 0.3s ease;
}

.task-input-style input:focus~label,
.task-input-style input:valid~label {
    color: white;
    transform: translateY(-25px);
}

.underline {
    text-align: left;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
}

.underline::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all 0.3s linear;
}

.task-input-style input:focus~.underline::before,
.task-input-style input:valid~.underline::before {
    transform: scaleX(1);
}

.time-input-style {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.time-input-style input {
    color: rgb(168 162 158);
    background-color: #222222;
    position: absolute;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.time-input-style input::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
}

.clock-icon {
    position: absolute;
    margin-top: -13px;
    background-color: white;
    padding: 3px;
    border-radius: 4px;
    pointer-events: none;
    width: 27px;
    height: 27px;
    top: 0px;
}