@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-red {
    width: 6px;
    height: 6px;
    margin-top: -15px;
    border-radius: 14px;
    background-color: red;
}

.dot-white {
    width: 6px;
    height: 6px;
    margin-top: -15px;
    border-radius: 14px;
    background-color: whtie;
}